body {
    --color-darkred: #53001D;
    --color-lightred: #402220;
    --color-darkblue: #08122B;
    --color-cream: #F9EFEE;
    --color-lightgrey: #e6dcdc;
    --color-mediumgrey: #bcbcbc;
    --color-darkgrey: #666666;



    background-color: var(--color-lightgrey);
    margin: auto;
}