body {
    --color-darkred: #53001D;
    --color-lightred: #402220;
    --color-darkblue: #08122B;
    --color-cream: #F9EFEE;
    --color-lightgrey: #fafafa;
    --color-mediumgrey: #eeeeee;
    --color-darkgrey: #666666
}